@import '../../../assests/css/index.scss';//导入其他css文件

.main{
    width:calc(60% + 450px);
    max-width:95%;
    margin:8rem auto;
    
    h1{
        text-align: center;
        margin: 5rem;
        font-size: 5rem;
        font-weight: bold;
        color:rgba(0, 0, 0, 0.61);
    }
}

.blog-div{
    max-width: 100%;
    @extend .my-transition-img;
    p{
        margin:1rem 0;
        font-size:1.2rem;
    }
    h3{
        margin:1rem 0;
        font-weight: bold;
    }
   

    #blog-content{
      
        height:5rem;
        font-size: 1.2rem;
        color:rgba(75, 71, 71, 0.726);
    }
}