.order-item{

    #order-item-thumbs{
        img{
            height:200px;
            width: 200px;
            margin-right: 1rem;
        }
    }
    #order-item-button{
        button{
            background-color:var(--btn-bg-color);
            color:white;
            border:none;
            border-radius: 20px;
            font-size: 1.2rem;
        }
        #pay{
            padding: 0.5rem 2rem;
        }
        #delete{
            padding: 0.5rem 1rem;
            background-color:rgba(161, 61, 61, 0.74);
        }
    }
    hr{
        margin-top: 1rem;
    }
}