@import '../../assests/css/index';

.register-page{
    @extend .my-container ;

    form{
        flex:0.4;
        // gap: 2rem;
        span{
            font-weight: bold;
            font-size: 1rem;
        }
        input{
            max-width: 400px;
            margin-bottom: 1rem;;
        }
        button{
            background-color:var(--btn-bg-color);
            color:white;
            border: none;
            border-radius: 10px;
            padding: 0.5rem 1rem;
            font-size:1rem
        }
        a{
            display: block;
            margin-left: 1rem;
        }
        #error{
            color:red;
        }
    }
    svg{
        flex:0.6;
    }
}

