.order-deliver{
    h3{
        margin-bottom: 2rem;
    }
    #order-deliver-name{
        margin-bottom: 1rem;
    }
    #order-deliver-phone{
        margin-bottom: 1rem;
    }
    #order-deliver-address{
        margin-bottom: 2rem;
    }
    button{
        background-color:var(--btn-bg-color);
        color:white;
    }
}