@import '../../assests/css/index.scss';

.order{
    @extend .my-container;
    #order-deliver{
        margin-top: 4rem ;
        margin-bottom: 4rem;
    }
    #order-detail{
        margin-top: 4rem ;
        margin-bottom: 4rem;
    }
}