/*
 根css文件，其他css文件会引用到的通用样式
 */
:root {
overflow-y: auto;
overflow-x: hidden;
}

:root body {
position: absolute;
}

body {
width: 100vw;
/* overflow: hidden; */
}

a{
    cursor:pointer
}

.f-title{
    font-size:2rem;
}




.hov-cl1:hover {color: #717fe0;}
.border{
    border: 0.5rem outset pink;
  outline: 0.5rem solid khaki;
  box-shadow: 0 0 0 2rem skyblue;
  border-radius: 12px;
  font: bold 1rem sans-serif;
  margin: 2rem;
  padding: 1rem;
  outline-offset: 0.5rem;
}

.my-container{
    width:calc(60% + 500px);
    max-width:100%;
    margin:auto;
}

.my-border{
    border:2px solid red;
    outline:2px solid green;
}

.my-padding{
    padding: calc(20% - 100px);
}

.my-padding-x{
    padding: 0 calc(20% - 100px);
}


.my-transition-img{
    display: block;
    overflow: hidden;
    img{
        transition: transform 0.9s ease;
    }
    &:hover{
        img{
            transform: scale(1.1);     
        }
    }
   
}

.my-padding-left{
    padding-left: calc(20% - 100px);
}