@import '../../assests/css/index';//导入其他css文件

.main{
    width:calc(60% + 450px);
    max-width:95%;
    // margin:8rem auto 5rem auto;
    margin:8rem auto;
    // padding:0 2rem;
    
    h1{
        text-align: center;
        margin: 5rem;
        font-size: 5rem;
        font-weight: bold;
        color:rgba(0, 0, 0, 0.61);
    }
}

.blog-div{
    max-width: 100%;
    margin:auto;
    overflow: hidden;
    p{
        margin:1rem 0;
        font-size:1.2rem;
    }
    h3{
        margin:1rem 0;
        // @extend .f-title;
        font-weight: bold;
    }
    img{
        transition: transform 0.9s ;
        margin:2rem 0 ;
    }
    &:hover{
        img{
            transform: scale(1.05);     
        }
    }

    #blog-content{
      
        height:5rem;
        font-size: 1.2rem;
        color:rgba(75, 71, 71, 0.726);
    }
}