.display{
    padding-top: 8rem;
}

.display-ui{
    margin-top: 1rem;
    margin-bottom: 4rem;
}

.display-title{
    font-size:4rem;
    color:rgba(0, 0, 0, 0.61);
}

.display-nav-li{
    color:rgba(22, 9, 9, 0.644);
    text-decoration: none;
    font-size: 1.5rem;
}

.display-nav-li:hover{
    text-decoration-line: underline;
}


.display-tab{
    width:calc(60% + 500px);
    max-width:100%
}

.display-tab-div{
    width: 85%;
    margin: auto;
}

.display-tab-img-intro{
    font-size:1.2rem;
    font-family:   sans-serif;
  
    /* style="font-size: 2rem; color: cornflowerblue;" */
}

.display-tab-img-icon{
    font-size:1.5rem;
    /* style="font-size: 2rem; color: cornflowerblue;" */
}

.display-tab-img-price {
    text-align: left;
    font-size: 1.2rem;
  }
  
  