@import '../../assests/css/index.scss';//导入其他css文件

.shop-categories{
    margin:auto 0;
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        li{
            font-size:1.5rem;
            color:rgba(128, 128, 128, 0.72);
            &:hover{
                color:black;
                text-decoration: underline;
            }          
            a:hover{
                cursor: pointer;
             
            }
        }      
    }
}