.best-seller{
    h2{
        text-align: center;
        font-size:3rem;
        font-weight:bold;
        margin-bottom: 4rem;
    }
    #best-seller-images{
        // margin-bottom: 5rem;
    }
    // #product-detail-best-seller{
    //     margin-top: 5rem;
    //     margin-bottom: 10rem;
    // }
}