@import '../../assests/css/index.scss';


.container-header{
    @extend .my-container;
    padding:1.5rem 0; 
    position:sticky;
    top:0;
    z-index:100;
    background-color: white;
}

.brand{
    min-height: 1.2rem;   

}


#navbarsHeader{
    ul {
        list-style: none;
        margin: auto 0;
        font-size: 1.2rem;
        li{
            a{
                text-decoration: none;
                color:var(--nav-item-color);
                &:hover{
                    color: var(--btn-bg-color);
                }
            }


        }
    }
}

#iconHeader{
    i{
        font-size:1.5rem;
        &:hover{
            color: var(--btn-bg-color);
            cursor: pointer;
        }
    }
    #link-login{
        text-decoration: none;
        color:inherit;
    }
}

.a-header-item {
    color: rgba(29, 18, 18, 0.397);
    font-size: 20px;
    text-decoration: none;
}