@import '../assests/css/index';//导入其他css文件

.footer{
    h4{
        font-weight: bold;
        color:white;
        // font-size: 1.5em;
    }
    background-color: rgba(0, 0, 0, 0.897);
    padding:6rem 0;
  
    .main{
        @extend .my-container;
    }
}

.categories{

    ul{
        list-style-type: none;
        margin: 3rem 0;
        padding: 0;
        li{
            font-size:1.2rem;
            padding-top:1rem;
            color:gray;
            &:hover{
                color:white;
                cursor: pointer;
            }
        }
    }
}

.help{
   @extend .categories;
}

.touch{

    p{
        margin:3rem 0;
        padding-top: 1rem;
        font-size:1.2rem;
        color:gray;
    }
    ul{
        list-style-type: none;
        margin:  0;
        padding: 0;
        display: flex;
        li{
            font-size:1.5rem;
            margin-right: 2rem;
            color:gray;
            &:hover{
                color:white;
                cursor:pointer;
            }
        }
    }
}

.newsletter{
    input{
        margin:3rem 0;
        padding: 1rem 0 0.5rem 0 ;
        font-size:1.2rem;
        border-bottom:2px solid grey;
        border-right: none;
        width:100%;
        background-color: transparent;
        color:gray;
        transition: border-color 1s ease-in-out;
        &:focus{
            border-color: var(--btn-bg-color);
        }
    }
    button{
        color:white;
        font-size:1.5rem;
        padding:1rem 3rem;
        background-color: var(--btn-bg-color);
        border-radius: 2rem;
        transition: background-color  1s ease-in-out;
        border:none;
        &:hover{
            background-color: white;
            color: var(--btn-bg-color);
        }
    }
}